/node_modules
/public/storage
/storage/*.key
/storage/app/dataFromApi

/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

/public/js
/public/hot
/public/css
/public/fonts
/public/mix-manifest.json

_ide_helper.php
.phpstorm.meta.php
